[submodule "icons/font-awesome"]
	path = icons/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "icons/bootstrap"]
	path = icons/bootstrap
	url = https://github.com/twbs/icons
[submodule "icons/heroicons"]
	path = icons/heroicons
	url = https://github.com/tailwindlabs/heroicons.git
[submodule "icons/lucide"]
	path = icons/lucide
	url = https://github.com/lucide-icons/lucide
[submodule "icons/feather"]
	path = icons/feather
	url = https://github.com/feathericons/feather
[submodule "icons/vscode"]
	path = icons/vscode
	url = https://github.com/microsoft/vscode-codicons
[submodule "icons/octicons"]
	path = icons/octicons
	url = https://github.com/primer/octicons
[submodule "icons/ionicons"]
	path = icons/ionicons
	url = https://github.com/ionic-team/ionicons
[submodule "icons/simple-icons"]
	path = icons/simple-icons
	url = https://github.com/simple-icons/simple-icons
[submodule "icons/tabler-icons"]
	path = icons/tabler-icons
	url = https://github.com/tabler/tabler-icons.git
[submodule "icons/ant-design-icons"]
	path = icons/ant-design-icons
	url = https://github.com/ant-design/ant-design-icons
[submodule "icons/devicons"]
	path = icons/devicons
	url = https://github.com/vorillaz/devicons.git
